<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Liste des réservations</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <header>
    <h1>Gestion des catways</h1>
    <nav>
        <a href="dashboard.html">Dashboard</a>
        <a href="users.html">Utilisateurs</a>
        <a href="reservations.html">Réservations</a>
        <button id="logoutBtn">Déconnexion</button>
    </nav>
  </header>
  <section>
    <h2>Liste des catways</h2>
    <table id="catwaysTable">
      <thead>
          <tr>
              <th>Numéro</th>
              <th>Type</th>
              <th>État</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        <% catway.forEach(catway => { %>
          <tr>
            <td><%= catway.catwayNumber %></td>
            <td><%= catway.clientType %></td>
            <td><%= catway.catwayState %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <h3>Ajouter / Modifier catway</h3>
    <form id="catwayForm">
        <input type="number" id="catwayNumber" placeholder="Numéro" required>
        <select id="catwayType">
            <option value="long">Long</option>
            <option value="short">Short</option>
        </select>
        <input type="text" id="catwayState" placeholder="État" required>
        <button type="submit">Enregistrer</button>
    </form>

    <p id="error" class="error"></p>
      </section>

      <script src="assets/js/catways.js"></script>
    
</body>
</html>
